@import url(https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap);
h3 {
    text-align: center;
}


/* select {
    text-align: center;
} */

span {
    color: red;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Mukta", sans-serif;
}

label {
    font-size: .90rem;
    font-weight: 600;
    color: #424242;
}

.rounded {
    height: 100%;
}