.card-body{
    background-color:#f2f7f7 ;
}

.tab-content .card-body h5{
    font-family: kanit;
    font-weight: 800;
    /* color: rgb(16, 15, 15); */

}

/* body{
    background-color: #dde3ec;
} */

#downloads{
    margin-top: 10rem;
}

