
.container{
    background-color: rgb(241, 241, 241);
}

h3{
    
    /* text-align: center; */
}

img{
    height: 200px;
    width: 200px;
   
}


fieldset span{
    margin-left: 10px;
    color:black;
    font-weight: 200;
    font-size: 16px;
    font-family: Georgia, serif;
    /* font-family: "Gill Sans", sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: serif; */
    /* font-family: system-ui; */
    /* font-family: cursive; */
}

