@import url(https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap);
.avatar-xxl {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
}

.avatar-xxl img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.heading-line {
    display: flex;
    align-items: center;
    color: #1071e5;
    /* font-weight: 600; */
    width: 100%;
    margin-bottom: 0.5rem;
}


/* h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 900;
} */

.heading-line h6 {
    font-size: .875rem;
    /* font: 14px "Mukta", sans-serif; */
    font-weight: bold;
}

.heading-line:after {
    content: "";
    display: block;
    width: 1px;
    flex: 1 1;
    height: 1px;
    background-color: #cfe4ff;
    margin-left: 0.5rem;
}

.form-display .value {
    font-weight: 600;
    font-size: .975rem;
    /* color: #252527; */
}

.form-display label {
    color: #5c5c5c;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

.des,
p {
    font-size: .875rem;
    margin: 0;
}

#ram {
    text-align: left;
    margin-top: 50px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Mukta", sans-serif;
}

label {
    margin-bottom: 0.25rem;
    font-size: .75rem;
    font-weight: 600;
    color: #5c5c5c;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

h5 {
    /* color: red; */
    font-size: 1.2rem;
    text-align: center!important;
    font-weight: 600;
    line-height: 1.2;
}