label span {
    color: red;
}

button[type=submit] {
    width: 150px;
}

select {
    text-align: center;
}

fieldset {
    border: 1px solid red;
    padding-bottom: 1rem;
    padding-inline: 0;
    margin-inline: 0;
}

fieldset legend {
    background: yellow;
}

.form-section-container {
    max-width: calc(100% - 1rem);
    margin-left: 0.5rem;
}

.info-title {
    background-color: #20c997;
}

.rounded {
    height: 100%;
}