@import url(https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap);
.container {
    /* border: 1px solid red; */
    height: 99vh;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Mukta", sans-serif;
}

h5 {
    /* font-family: sans-serif; */
    font-weight: bold;
    font-weight: 600;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-weight: 700;
    font-size: calc(1.64833rem + .10622vw);
    color: #FFFFFF;
}

.tittle {
    color: #FFFFFF;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 600;
}

.anchor {
    text-decoration: none;
}

#edit {
    text-align: center;
}

#second-row {
    margin-top: px;
}

.bd-callout-info {
    --bd-callout-bg: rgba(var(--bs-info-rgb), .075);
    --bd-callout-border: rgba(var(--bs-info-rgb), .5);
}

.bd-callout {
    border-radius: 4px;
    /* padding: 1.25rem; */
    /* margin-top: 0.1em; */
    /* margin-bottom: 1.25rem; */
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    /* background-color: #2db539; */
    border-left: 0.28rem solid var(--bd-callout-border, var(--bs-gray-300));
}