.nav-wrapper{
    z-index: 999;
    top: 0;
  }
  .navbar {
     box-shadow: 0 4px 6px 0 rgba(19, 22, 26, 0.65);
  }

  #button {
    margin-right: 15px;
 }
 
 @media (min-width: 576px) {
    .dropdown-menu {
       opacity: 0;
       transition: all 0.6ms;
    }
    .dropdown:hover .dropdown-menu {
       display: block;
       margin-top: 0;
       opacity: 1;
    }
 }
 
 footer a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
 }
 footer a:hover{
    color: rgb(214, 214, 214);
 }
 